################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/MainWindow.g.i.cs
/obj/Debug/MainWindow.g.cs
/obj/Debug/MainWindow.baml
/obj/Debug/KIID_Frontend.Properties.Resources.resources
/obj/Debug/KIID-Frontend_MarkupCompile.lref
/obj/Debug/KIID-Frontend_MarkupCompile.i.lref
/obj/Debug/KIID-Frontend_MarkupCompile.i.cache
/obj/Debug/KIID-Frontend_MarkupCompile.cache
/obj/Debug/KIID-Frontend.pdb
/obj/Debug/KIID-Frontend.g.resources
/obj/Debug/KIID-Frontend.exe.manifest
/obj/Debug/KIID-Frontend.exe
/obj/Debug/KIID-Frontend.csprojResolveAssemblyReference.cache
/obj/Debug/KIID-Frontend.csproj.GenerateResource.Cache
/obj/Debug/KIID-Frontend.csproj.FileListAbsolute.txt
/obj/Debug/KIID-Frontend.application
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/App.g.i.cs
/obj/Debug/App.g.cs
/bin/Debug/KIID-Frontend.vshost.exe.manifest
/bin/Debug/KIID-Frontend.vshost.exe.config
/bin/Debug/KIID-Frontend.vshost.exe
/bin/Debug/KIID-Frontend.vshost.application
/bin/Debug/KIID-Frontend.pdb
/bin/Debug/KIID-Frontend.exe.manifest
/bin/Debug/KIID-Frontend.exe.config
/bin/Debug/KIID-Frontend.exe
/bin/Debug/KIID-Frontend.application
/bin/Debug/DocumentFormat.OpenXml.xml
/bin/Debug/DocumentFormat.OpenXml.dll
/bin/Debug/ConsoleApplication.pdb
/bin/Debug/ConsoleApplication.exe
/bin/Debug/app.publish/KIID-Frontend.exe
